spring:
  application:
    name: runner-service
  datasource:
    url: jdbc:postgresql://localhost:4320/flowforge
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081

logging:
  level:
    com.flowforge: DEBUG
    org.springframework.web: INFO

